.m-list-search__result-item-pic {
  .m--img-rounded {
    max-width: 50px;
  }
}

.core-custom-form {
  .m-portlet{
    .m-portlet__head {
      height: 3.2rem;
    }
  }
}

.blockUI {
    z-index: 1051 !important;
}
